@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #F9F9F8;
  --foreground: #1D1C19;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-feature-settings: "cv02", "cv03", "cv04", "cv11";
  -webkit-tap-highlight-color: transparent;
}

/* Custom Scrollbars */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #F2F2F0;
}

::-webkit-scrollbar-thumb {
  background: #D1CFCA;
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #A8A59E;
}
